version: 2.1
jobs:
  build_and_test:
    parameters:
      distribution:
        type: string
    docker:
      - image: ros:<< parameters.distribution >>
    steps:
      - checkout
      - run:
          name: Set Up Container
          command: |
            apt-get update
      - run:
          name: Build
          command: |
            source /opt/ros/<< parameters.distribution >>/setup.bash
            mkdir uav_ws
            cd uav_ws
            pip3 install -r requirements.txt
            git clone https://github.com/sezer-muhammed/eflatun_src.git
            colcon build
            . install/setup.bash
            ros2 launch eflatun test.py
      - run:
          name: Test
          command: |
            ros2 run eflatun test.py &
            sleep 60
            kill %1
            echo "Test completed successfully."
workflows:
  version: 2
  ros_build:
    jobs:
      - build_and_test:
          name: foxy_build
          distribution: foxy
      - build_and_test:
          name: humble_build
          distribution: humble
