version: 2
jobs:
  foxy:
    docker:
      - image: ros:foxy
    steps:
      - checkout
      - run:
          name: Set Up Container
          command: |
            apt-get update
      - run:
          name: Build
          command: |
            source /opt/ros/foxy/setup.bash
            mkdir uav_ws
            cd uav_ws
            pip3 install -r requirements.txt
            git clone https://github.com/sezer-muhammed/eflatun_src.git
            colcon build
            . install/setup.bash
            ros2 launch eflatun software_in_the_loop.py
workflows:
  version: 2
  ros_build:
    jobs:
      - foxy